<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card id="genCard" class="card-element md-padding">
        <div id="myProgress2">
                <div>
                    <md-progress-linear md-mode="determinate" value="80"></md-progress-linear>
                </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/fluid.png" />
            <p class="home-page-text">Fluid Health and Fitness</p>
        </div>
        <h2 class="general-title">Create Password</h2>
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="passwordOne">Create a Password:</label>
                <input class="text-label" type="password" name="passwordOne"/>
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="passwordTwo">Confirm Password:</label>
                <input class="text-label" type="passwordTwo" name="passwordTwo"/>
            </md-input-container>
        </div>
    </br>
        <h2 class="general-title">Safety Information</h2>
        <label class="terms-title">I have agreed to the Terms and Conditions</label>
        <div layout-align="center center">
            <md-input-container flex>
                <md-checkbox layout="column" class="terms-text" aria-label="agree">
                    Agree
                </md-checkbox>
            </md-input-container>
        </div>
    </br>
        <md-container>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.contact()">Back</md-button>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectAccount()">Next</md-button>
        </md-container>
    </md-card>

</div>