<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <div id="myProgress2">
            <div id="myBar2">
                <div class="progress-bar-text">2/3</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/fluid.png" />
            <p class="home-page-text">Fluid Health and Fitness</p>
        </div>
        <h2 class="general-title">Contact Information</h2>
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="">Phone Number:</label>
                <input class="text-label" type="text" name="phone"/>
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="email">Email:</label>
                <input class="text-label" type="email" name="email"/>
            </md-input-container>
        </div>
        <br />
        <md-container>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.general()">Back</md-button>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectContact()">Next</md-button>
        </md-container>
    </md-card>

</div>