<div layout-fill layout="column" layout-align="center center" class="registration-view-text ng-cloak">

    <md-card class="card-element md-padding">
        <div id="myProgress2">
            <div id="myBar2">
                <div class="progress-bar-text">2/5</div>
            </div>
        </div>
        <div layout-padding class="starr-landing">
            <img ng-src="./images/fluid.png" />
            <p class="home-page-text">Fluid Health and Fitness</p>
        </div>
        <h2 class="general-title">Personal Information</h2>
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="firstName">First Name:</label>
                <input class="text-label" type="text" name="firstName"/>
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="lastName">Last Name:</label>
                <input class="text-label" type="text" name="lastName"/>
            </md-input-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="height">Height (in.):</label>
                <input class="text-label" type="text" name="height"/>
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="weight">Weight (lbs.):</label>
                <input class="text-label" type="text" name="weight"/>
            </md-input-container>
        </div>
        <br />
        <div layout-align="center center">
            <md-container flex>
                <label class="text-label">Date of Birth:</label>
                <br>
                <md-datepicker class="date-picker" ng-model="vm.generalStudent.date_of_birth"></md-datepicker>
            </md-container>
        </div>
        <br />

        <label class="label-items">Gender:</label>
        </br>
        <div layout-align="center center">
            <md-radio-group layout="row" layout-align="center center" ng-model="vm.info.other_bool">
                <md-radio-button class="label-items radio-value" value="M">Male</md-radio-button>
                <md-radio-button class="label-items radio-value" value="F">Female</md-radio-button>
            </md-radio-group>
        </div>
        <br />
        <div layout-align="center center">
            <md-input-container flex>
                <label class="text-label" for="">Phone Number:</label>
                <input class="text-label" type="text" name="phone"/>
            </md-input-container>
            <md-input-container flex>
                <label class="text-label" for="email">Email:</label>
                <input class="text-label" type="email" name="email"/>
            </md-input-container>
        </div>
        <br />
        <h2 class="general-title">Safety Information</h2>
        <label class="terms-title">I have agreed to the Terms and Conditions</label>
        <div layout-align="center center">
            <md-input-container flex>
                <md-checkbox layout="column" class="terms-text" aria-label="agree">
                    Agree
                </md-checkbox>
            </md-input-container>
        </div>
    </br>
    <h2 class="general-title">Create Password</h2>
    <div layout-align="center center">
        <md-input-container flex>
            <label class="text-label" for="passwordOne">Create a Password:</label>
            <input class="text-label" type="password" name="passwordOne"/>
        </md-input-container>
        <md-input-container flex>
            <label class="text-label" for="passwordTwo">Confirm Password:</label>
            <input class="text-label" type="passwordTwo" name="passwordTwo"/>
        </md-input-container>
    </div>
        <md-container>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.home()">Back</md-button>
            <md-button class="md-raised md-primary defaultBtn" ng-click="vm.collectGeneral()">Next</md-button>
        </md-container>
    </md-card>

</div>