<header class="ng-cloak" hide-gt-md ng-include="'/views/partials/user_header.html'"></header>

<div class="ng-cloak" layout="column" layout-fill>

    <section layout="row" flex>
        <!-- Start md-sidenav -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <div class="starr-sidenav">
                <img ng-src="./images/fluid.png" />
                <p class="starr-sidenav-text">Fluid Health and Fitness</p>
                <h1 class="lead">Welcome Daniel!</h1>
            </div>
            <md-content layout-padding hide show-gt-md flex>
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.studentHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.phaseOne()">
                    <i class="material-icons looks_one">looks_one</i>
                    <span>Phase 1</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.phaseTwo()">
                    <i class="material-icons looks_two">looks_two</i>
                    <span>Phase 2</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.phaseThree()">
                    <i class="material-icons looks_3">looks_3</i>
                    <span>Phase 3</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
            <md-content layout-padding hide-gt-md flex>
                <md-button class="md-raised md-primary selectedBtn" flex ng-click="vm.studentHome()">
                    <i class="material-icons home">home</i>
                    <span>Home Page</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.phaseOne()">
                    <i class="material-icons looks_one">looks_one</i>
                    <span>Phase 1</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.phaseTwo()">
                    <i class="material-icons looks_two">looks_two</i>
                    <span>Phase 2</span>
                </md-button>
                <br />
                <md-button class="md-raised md-primary" flex ng-click="vm.phaseThree()">
                    <i class="material-icons looks_3">looks_3</i>
                    <span>Phase 3</span>
                </md-button>
                <br />
                <md-button class="md-raised md-warn" flex ng-click="vm.userService.logout()">
                    <i class="material-icons exit-app">exit_to_app</i>
                    <span>Log Out</span>
                </md-button>
            </md-content>
        </md-sidenav>
        <!-- End md-sidenav -->
        <div class="overflow-1" flex layout-align="center center">
            <!-- Start Profile Card -->
            <md-content class="element-content content-element-text md-padding" layout-xs="column" layout="row">
                <div flex class="profile-div" layout="column" layout-align="center center">
                    <md-card class="card-element profile-card md-padding">
                        <h2 class="home-title">Fluid Dashboard</h2>
                    </md-card>
                </div>
            </md-content>

            <md-content class="element-content content-element-text md-padding" layout-md="column" layout="row">
                    <div flex class="profile-div" layout-align="center center">
                    <md-card class="card-element profile-card md-padding" ng-click="vm.roadMap()">
                                <div class="ng-cloak">
                                    <div class="container">
                                    <div id="gaugeOne" class="gauge size-1">
                                    </div>
                                    <div>
                                    <h3>Fluid Health Score</h3>
                                    <p>copy copy copy</p>
                                    </div>
                        </div>
                    </md-card>
                </div>
            </md-content>
            <!-- End Profile Card -->
            
        </div>

    </section>

</div>